@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Righteous');


/* 유저 영역용 CSS */

.mypage_section > .photoInput {
	display: none;
}

.mypage_section > .removeIcon {
	top: 80px;
	right: 5%;
	width: 20px;
	position: absolute;
}

.mypage_section > .removeIcon:hover, .mypage_section > .addIcon:hover, .mypage_section > .photoIcon:hover{
	cursor: pointer;
} 

.mypage_section > .addIcon {
	top: 50px;
	right: 5%;
	width: 20px;
	position: absolute;
}

.mypage_section > .photoIcon {
	top: 20px;
	right: 5%;
	width: 20px;
	position: absolute;
}

.mypage_section > .photoArea {
	margin: 20 auto;
	width : 150px;
	height: 150px;
/* 	background-image: url("../images/user/default-profile.png"); */
/* 	background-size: contain; */
	border: 1px solid white;
	border-radius: 80%;
}

.mypage_section > .photoArea > img {
	width : 150px;
	height: 150px;
	border-radius: 80%;
	overflow: hidden;
}

.mypage_section > .idArea {
	margin: 20 auto;
	width : 250px;
	height: 50px;
	border-radius: 50%;
	color: white;
	text-align: center;
}

.mypage_section > .mypageBtnArea {
	margin: 20 auto;
}

.mypage_section > .mypageBtnArea > ul {
	padding-left: 35px;
}

.mypage_section > .mypageBtnArea > ul > li {
	float: left;
	margin: 0 auto;
	width: 110px;
	height: 50px;
	position: relative;
	vertical-align: middle;
	text-align: center;
}

.mypage_section{
	order: 1;
	top: 70px;
	left: 845px;
	width: 285px;
	height: 380px;
	position: absolute;
/* 	border: 1px solid green; */
	border: 1px solid #eee;
	background: #8271fe;
/* 	background: #2ecc71; */
/* 	background: #ffffff; */
	display: none;
}

#mSpan {
	color: white;
	text-shadow:0px 1px 1px #25ab5e;
	margin-right: 10px;
}

.signupicon, .loginicon, .mypageicon, .logouticon {
	width : 30px;
	height: 30px;
	vertical-align: middle;
}

.signupicon, .loginicon, .mypageicon {
	width : 30px;
	height: 30px;
	vertical-align: middle;
	opacity: 0.3;
}

#signup:hover, #login:hover, #mypage:hover, #logout:hover {
	cursor: pointer;
}

.signup_section {
	order: 1;
	top: 80px;
	
	background-color: rgba( 255, 255, 255, 0.2 );
	height: 250px;
	display:none;
	flex-flow:column nowrap;
	width:100%;
	margin:0 auto;
	max-width:1200px;
}

.login_section {
	order: 1;
	top: 80px;
	
	background-color: rgba( 255, 255, 255, 0.2 );
	height: 250px;
	display:none;
	flex-flow:column nowrap;
	width:100%;
	margin:0 auto;
	max-width:1200px;
}

/* input box 설정 */
input.userlib {
  padding: 12px 14px;
  width: 200px;
  margin: 2px 2px;
  border: none;
  outline: none;
  color: #2c3e50;
  box-shadow:  0 2px 4px rgba(0,0,0, .2);
}
input.userlib:hover, input.userlib:focus{
  box-shadow: 0 4px 6px rgba(0,0,0, .3);
}
input.userlib:focus{
  border: 1px solid rgba(44, 62, 80, .6);
}

#writeTable td {
	vertical-align: middle;
}



/* 버튼 CSS */
.btn {
  margin-right:10px;
  display: inline-block;
  min-width: 6rem;
  background: #2ecc71;
  color: white;
  line-height: 1;
  padding: 1rem;
  border: 0;
  text-align: center;
  border-radius: 3px;
  -webkit-box-shadow: 0 3px 0 0 #a31417;
  -moz-box-shadow: 0 3px 0 0 #a31417;
  box-shadow: 0 3px 0 0 #a31417;
  transition: all .2s ease;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
}
.btn:hover, .btn:focus {
  color: white;
  -webkit-box-shadow: 0 6px 0 0 #a31417;
  -moz-box-shadow: 0 6px 0 0 #a31417;
  box-shadow: 0 6px 0 0 #a31417;
  transform: translateY(-3px);
  -webkit-transform: translateY(-3px);
}
.btn:active {
  background: #a31417;
  -webkit-box-shadow: 0 0 0 0 #48090a;
  -moz-box-shadow: 0 0 0 0 #48090a;
  box-shadow: 0 0 0 0 #48090a;
  transform: translateY(3px);
  -webkit-transform: translateY(3px);
}
.btn.disabled {
  background: #eeeeee;
  color: #bbbbbb;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  transform: none;
}
.btn.positive {
  background: #75cdc8;
  -webkit-box-shadow: 0 3px 0 0 #3ba19c;
  -moz-box-shadow: 0 3px 0 0 #3ba19c;
  box-shadow: 0 3px 0 0 #3ba19c;
}
.btn.positive:hover, .btn.positive:focus {
  background: #75cdc8;
  -webkit-box-shadow: 0 6px 0 0 #3ba19c;
  -moz-box-shadow: 0 6px 0 0 #3ba19c;
  box-shadow: 0 6px 0 0 #3ba19c;
  transform: translateY(-3px);
  -webkit-transform: translateY(-3px);
}
.btn.positive:active {
  background: #3ba19c;
  -webkit-box-shadow: 0 0 0 0 #1f5753;
  -moz-box-shadow: 0 0 0 0 #1f5753;
  box-shadow: 0 0 0 0 #1f5753;
  transform: translateY(3px);
  -webkit-transform: translateY(3px);
}

.btn2 {
  margin-right:10px;
  display: inline-block;
  min-width: 6rem;
  background: #219af7;
  color: white;
  line-height: 1;
  padding: 1rem;
  border: 0;
  text-align: center;
  border-radius: 3px;
  -webkit-box-shadow: 0 3px 0 0 #a31417;
  -moz-box-shadow: 0 3px 0 0 #a31417;
  box-shadow: 0 3px 0 0 #a31417;
  transition: all .2s ease;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
}
.btn2:hover, .btn2:focus {
  color: white;
  -webkit-box-shadow: 0 6px 0 0 #a31417;
  -moz-box-shadow: 0 6px 0 0 #a31417;
  box-shadow: 0 6px 0 0 #a31417;
  transform: translateY(-3px);
  -webkit-transform: translateY(-3px);
}
.btn2:active {
  background: #a31417;
  -webkit-box-shadow: 0 0 0 0 #48090a;
  -moz-box-shadow: 0 0 0 0 #48090a;
  box-shadow: 0 0 0 0 #48090a;
  transform: translateY(3px);
  -webkit-transform: translateY(3px);
}
.btn2.disabled {
  background: #eeeeee;
  color: #bbbbbb;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  transform: none;
}
.btn2.positive {
  background: #75cdc8;
  -webkit-box-shadow: 0 3px 0 0 #3ba19c;
  -moz-box-shadow: 0 3px 0 0 #3ba19c;
  box-shadow: 0 3px 0 0 #3ba19c;
}
.btn2.positive:hover, .btn2.positive:focus {
  background: #75cdc8;
  -webkit-box-shadow: 0 6px 0 0 #3ba19c;
  -moz-box-shadow: 0 6px 0 0 #3ba19c;
  box-shadow: 0 6px 0 0 #3ba19c;
  transform: translateY(-3px);
  -webkit-transform: translateY(-3px);
}
.btn2.positive:active {
  background: #3ba19c;
  -webkit-box-shadow: 0 0 0 0 #1f5753;
  -moz-box-shadow: 0 0 0 0 #1f5753;
  box-shadow: 0 0 0 0 #1f5753;
  transform: translateY(3px);
  -webkit-transform: translateY(3px);
}

/* 이미지 배경 투명 처리 */
.glass{
	background-color: rgba( 255, 255, 255, 0.2 );
}


/* 오렌지 색상 버튼 */
.btn3 {
  margin-right:10px;
  display: inline-block;
  min-width: 6rem;
  background: #ffc40f;
  color: white;
  line-height: 1;
  padding: 1rem;
  border: 0;
  text-align: center;
  border-radius: 3px;
  -webkit-box-shadow: 0 3px 0 0 #a31417;
  -moz-box-shadow: 0 3px 0 0 #a31417;
  box-shadow: 0 3px 0 0 #a31417;
  transition: all .2s ease;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
}
.btn3:hover, .btn3:focus {
  color: white;
  -webkit-box-shadow: 0 6px 0 0 #a31417;
  -moz-box-shadow: 0 6px 0 0 #a31417;
  box-shadow: 0 6px 0 0 #a31417;
  transform: translateY(-3px);
  -webkit-transform: translateY(-3px);
}
.btn3:active {
  background: #a31417;
  -webkit-box-shadow: 0 0 0 0 #48090a;
  -moz-box-shadow: 0 0 0 0 #48090a;
  box-shadow: 0 0 0 0 #48090a;
  transform: translateY(3px);
  -webkit-transform: translateY(3px);
}
.btn3.disabled {
  background: #eeeeee;
  color: #bbbbbb;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  transform: none;
}
.btn3.positive {
  background: #75cdc8;
  -webkit-box-shadow: 0 3px 0 0 #3ba19c;
  -moz-box-shadow: 0 3px 0 0 #3ba19c;
  box-shadow: 0 3px 0 0 #3ba19c;
}
.btn3.positive:hover, .btn3.positive:focus {
  background: #75cdc8;
  -webkit-box-shadow: 0 6px 0 0 #3ba19c;
  -moz-box-shadow: 0 6px 0 0 #3ba19c;
  box-shadow: 0 6px 0 0 #3ba19c;
  transform: translateY(-3px);
  -webkit-transform: translateY(-3px);
}
.btn3.positive:active {
  background: #3ba19c;
  -webkit-box-shadow: 0 0 0 0 #1f5753;
  -moz-box-shadow: 0 0 0 0 #1f5753;
  box-shadow: 0 0 0 0 #1f5753;
  transform: translateY(3px);
  -webkit-transform: translateY(3px);
}

/* 경고 처리용 빨간색 버튼 */
.btn4 {
  margin-right:10px;
  display: inline-block;
  min-width: 6rem;
  background: #e65d5d;
  color: white;
  line-height: 1;
  padding: 1rem;
  border: 0;
  text-align: center;
  border-radius: 3px;
  -webkit-box-shadow: 0 3px 0 0 #a31417;
  -moz-box-shadow: 0 3px 0 0 #a31417;
  box-shadow: 0 3px 0 0 #a31417;
  transition: all .2s ease;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
}
.btn4:hover, .btn4:focus {
  color: white;
  -webkit-box-shadow: 0 6px 0 0 #a31417;
  -moz-box-shadow: 0 6px 0 0 #a31417;
  box-shadow: 0 6px 0 0 #a31417;
  transform: translateY(-3px);
  -webkit-transform: translateY(-3px);
}
.btn4:active {
  background: #a31417;
  -webkit-box-shadow: 0 0 0 0 #48090a;
  -moz-box-shadow: 0 0 0 0 #48090a;
  box-shadow: 0 0 0 0 #48090a;
  transform: translateY(3px);
  -webkit-transform: translateY(3px);
}
.btn4.disabled {
  background: #eeeeee;
  color: #bbbbbb;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  transform: none;
}
.btn4.positive {
  background: #75cdc8;
  -webkit-box-shadow: 0 3px 0 0 #3ba19c;
  -moz-box-shadow: 0 3px 0 0 #3ba19c;
  box-shadow: 0 3px 0 0 #3ba19c;
}
.btn4.positive:hover, .btn4.positive:focus {
  background: #75cdc8;
  -webkit-box-shadow: 0 6px 0 0 #3ba19c;
  -moz-box-shadow: 0 6px 0 0 #3ba19c;
  box-shadow: 0 6px 0 0 #3ba19c;
  transform: translateY(-3px);
  -webkit-transform: translateY(-3px);
}
.btn4.positive:active {
  background: #3ba19c;
  -webkit-box-shadow: 0 0 0 0 #1f5753;
  -moz-box-shadow: 0 0 0 0 #1f5753;
  box-shadow: 0 0 0 0 #1f5753;
  transform: translateY(3px);
  -webkit-transform: translateY(3px);
}


/*----------------------------------- 모바일용 CSS */
/* 기본 CSS */
#wrap{
display:flex;
flex-flow:column nowrap;
width:80%;
margin:0 auto;
max-width:1200px;
}


.content_section{
order:4;
padding:20px;
padding:1.250rem;
background:#fff;
}

#wrap section{
box-sizing:border-box;
}

/* 인포메이션 영역 CSS */
.info_section{
order:1;
width:100%;
background:#2ecc71;
border-bottom:1px solid #39d67c;
}

.info_list{
display:flex;
}

.info_list li{
width:25%;
text-align:center;
}

.info_list li a{
display:block;
padding:15px 0;
padding:0.938rem 0;
}

/* 헤더 영역 CSS */
.header{
display:flex;
order:2;
flex-direction:column;
position:relative;
width:100%;
}

.logo{
order:1;
width:100%;
padding:30px 0;
padding:1.875rem 0;
font-size:1.188em;
font-size:1.188rem;
line-height:21px;
line-height:1.313rem;
text-align:center;
text-transform:uppercase;
background:#2ecc71;
text-shadow:0px 1px 1px #25ab5e;
}

.nav{
order:2;
width:100%;
}

.gnb{
display:none;
}

.gnb li{
display:flex;
background:#2c3e50;
}

.gnb li a{
width:80%;
padding:20px 0;
padding:1.250rem 0;
font-size:0.938em;
font-size:0.938rem;
text-indent:20px;
text-indent:1.250rem;
font-weight:bold;
text-transform:uppercase;
}

.gnb li span{
width:20%;
text-indent:-9999px;
background:url(../images/s_images/sub_menu_toggle_btn.png) center center no-repeat;
cursor:pointer;
}

.menu_toggle_btn{
display:block;
width:30px;
width:1.875rem;
height:30px;
height:1.875rem;
position:absolute;
top:10px;
top:0.625rem;
right:10px;
right:0.625rem;
text-indent:-9999px;
background:url(../images/s_images/menu_toggle_btn.png) no-repeat;
cursor:pointer;
}

/* 슬라이더 영역 CSS */
.slider_section{
display:flex;
justify-content:space-between;
align-items:center;
order:3;
width:100%;
height:400px;
height:18.750rem;
background:url(../images/p_images/slider_01.jpg) center center no-repeat;
}

.sec_h2 {
	height: 50px;
	text-align : center;
	float: none;
	display: block;
	position: relative;
	line-height: 50px;
	color: #fff;
	font-size: 1.188rem;
	top : 0;
}

.img_con {
	overflow: hidden;
	position: relative;
	width: 1500px;
	height: 400px;
}
.img_con > ul > li {
	float: left;
}

.slider_section div img {
	width: 500px;
	height: 300px;
	border-radius: 3px;
	margin: 20px 10%;

}


/* 최근 글 영역, 인기 글 영역 CSS */
.latest_post_section{
order:4;
background:#ffc40f;
text-shadow:0px 1px 1px #eee;
}

.popular_post_section{
order:5;
text-shadow:0px 1px 1px #eee;
}

.bgarea {
	background: rgba(166, 96, 194, 0.15);
}
.bgarea > .snip1200 {
	background:#a660c2;	
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
	color : #fff;	
}
.bgarea > figure.snip1200 h2:before,
.bgarea > figure.snip1200 h2:after {
  position: absolute;
  display: block;
  width: 1000%;
  height: 1px;
  content: '';
  background: white;
  top: 50%;
}


.bgarea > figure.snip1200 figcaption {
  position: absolute;
  top: 30%;
  left: 7%;
  right: 7%;
  bottom: 30%;
  border: 2px solid #fff;
  border-width: 1px 1px 0;
}

.sec_sky > figure.snip1200 > figcaption > p {
	font-weight: bold;
}

.sec_sky {
	background:#fff;
}
.sec_sky > figure.snip1200 {
	color: #1ab5f1;
}

.sec_sky > figure.snip1200 figcaption {
  position: absolute;
  top: 30%;
  left: 7%;
  right: 7%;
  bottom: 30%;
  border: 2px solid #1ab5f1;
  border-width: 1px 1px 0;
}

.sec_sky > figure.snip1200 h2:before,
.sec_sky > figure.snip1200 h2:after {
  position: absolute;
  display: block;
  width: 1000%;
  height: 1px;
  content: '';
  background: #1ab5f1;
  top: 50%;
}

.sec_you > figure.snip1200 figcaption {
  position: absolute;
  top: 30%;
  left: 7%;
  right: 7%;
  bottom: 30%;
  border: 2px solid #fff;
  border-width: 1px 1px 0;
}

.sec_you > figure.snip1200 h2:before,
.sec_you > figure.snip1200 h2:after {
  position: absolute;
  display: block;
  width: 1000%;
  height: 1px;
  content: '';
  background: #fff;
  top: 50%;
}

.sec_you > figure.snip1200 {
	color: #000;
}

.sec_you > figure.snip1200 > figcaption > p {
	font-weight: bold;
}

.sec_you {
	background-color: #ffc40f;
}

.latest_post_section, .popular_post_section{
padding:0px 12.5%;
padding:0px 12.5%;
/* 40px ÷ 320px */
}

.title{
margin-bottom:30px;
margin-bottom:1.875rem;
font-size:1.188em;
font-size:1.188rem;
text-align:center;
text-transform:uppercase;
color:#fff;
}

.latest_post_list li, .popular_post_list li{
margin-top:15px;
margin-top:0.938rem;
padding-left:14px;
padding-left:0.875rem;
font-weight:bold;
text-transform:uppercase;
background:url(../images/s_images/post_circle_icon.png) left center no-repeat;
}

.latest_post_list li:first-child, .popular_post_list li:first-child{
margin-top:0;
}

/* 갤러리 영역 CSS */
.gallery_section{
order:6;
padding:50px 12.5%;
padding:3.125rem 12.5%;
/* 40px ÷ 320px */
text-align:center;
background:#e65d5d;
text-shadow:0px 1px 1px #c43434;
}

.gallery_section img{
width:100%;
max-width:100%;
border-radius:3px;
box-shadow:0px 1px 1px #c43434;
}

.gallery_list li:nth-child(2){
margin-top:30px;
margin-top:1.875rem;
}

.gallery_list li figcaption{
margin-top:20px;
margin-top:1.250rem;
font-size:1.188em;
font-size:1.188rem;
text-transform:uppercase;
font-weight:bold;
}

/* 인기 검색어 영역 CSS */
.rankup_section{
order:7;
padding:40px 12.5%;
padding:2.500rem 12.5%;
/* 40px ÷ 320px */
background:#219af7;
text-shadow: 0px 1px 1px #1974ba;
}

.rankup_list{
display:flex;
flex-wrap:wrap;
justify-content:space-between;
}

.rankup_list li{
width:47.916666666666666666666666666667%;
/* 115px ÷ 240px */
margin-top::15px;
margin-top:0.938rem;
text-align:center;
text-transform:uppercase;
font-weight:bold;
}

.rankup_list li:first-child, .rankup_list li:nth-child(2){
margin-top:0;
}

.rankup_list li a{
display:block;
padding:10px 0;
padding:0.625rem 0;
border:1px solid #fff;
border-radius:5px;
}

/* 배너 영역 CSS */
.banner_section{
order:8;
}

.banner_box_01{
background:#e6567a;
}

.banner_box_01 a{
display:block;
padding:30px 0;
padding:1.875rem 0;
text-align:center;
}

.banner_box_02{
background:#c44968;
}

.banner_list{
display:flex;
justify-content:space-between;
padding:30px 12.5%;
padding:1.875rem 12.5%;
/* 40px ÷ 320px */
}

/* 소셜 네트워크 영역 CSS */
.social_section{
order:9;
padding:24px 12.5%;
padding:1.500rem 12.5%;
/* 40px ÷ 320px */
background:#fff;
}

.social_list{
display:flex;
justify-content:space-between;
}

/* 푸터 영역 CSS */
.footer{
order:10;
width:100%;
background:#474747;
}

.footer p{
padding:20px;
padding:1.250rem;
font-size:0.813em;
font-size:0.813rem;
text-align:center;
text-transform:uppercase;
font-weight:bold;
color:#fff;
text-shadow:0px 1px 1px #191919;
}

/*------------------------------------ 태블릿용 CSS */
@media all and (min-width:768px){
/* 기본 CSS */
#wrap{
flex-flow:row wrap;
}

/* 콘텐츠 영역 CSS */
.content_section{
padding:40px;
padding:2.500rem;
}

/* 헤더 영역 CSS */
.header{
flex-direction:row;
}

.logo{
position:absolute;
top:0;
left:0;
z-index:10;
width:15.625%;
/* 120px ÷ 768px */
padding:0;
}

.logo a{
font-size : 2.5rem;
display:block;
padding:50px 0;
padding:2rem 0;
}

.nav{
position:relative;
min-height:80px;
min-height:5.000rem;
background:#2ecc71;
}

.gnb{
position:absolute;
top:100%;
right:0;
z-index:20;
width:40.10416666666667%;
/* 308px ÷ 768px */
}

.menu_toggle_btn{
top:50%;
right:30px;
right:1.875rem;
z-index:20;
margin-top:-15px;
margin-top:-0.938rem;
}

/* 슬라이더 영역 CSS */
.slider_section{
width:59.89583333333333%;
/* 460px ÷ 768px */
height:auto;
}

.slider_section span{
position:relative;
z-index:10;
}

/* 최근 글 영역, 인기 글 영역 CSS */
.latest_post_section {
order:5;
}

.popular_post_section{
order:6;
}

.latest_post_section, .popular_post_section{
width:41.666666666666666666666666666667%;
/* 320px ÷ 768px */
padding-left:5.208333333333333333333333333333%;
padding-right:5.208333333333333333333333333333%;
/* 40px ÷ 768px */

}

.bdarea {
	padding-top: 40px;
}

/* 갤러리 영역 CSS */
.gallery_section{
order:8;
width:71.354166666666666666666666666667%;
/* 548px ÷ 768px */
padding-left:5.208333333333333333333333333333%;
padding-right:5.208333333333333333333333333333%;
/* 40px ÷ 768px */
}

.gallery_list{
display:flex;
}

.gallery_list li{
width:47.008547008547008547008547008547%;
/* 220px ÷ 468px */
}

.gallery_list li:nth-child(2){
margin-left:5.982905982905982905982905982906%;
/* 28px ÷ 468px */
margin-top:0;
}

/* 인기 검색어 영역 CSS */
.rankup_section{
order:4;
width:40.10416666666667%;
/* 308px ÷ 768px */
padding-left:5.20833333333333%;
padding-right:5.20833333333333%;
/* 40px ÷ 768px */
}

/* 배너 영역 CSS */
.banner_section{
display:flex;
order:9;
flex-direction:column;
width:28.645833333333333333333333333333%;
/* 220px ÷ 768px */
}

.banner_section div{
flex:1 1 0;
}

.banner_box_01{
display:flex;
justify-content:center;
align-items:center;
}

.banner_box_01 a{
display:inline;
padding:0;
}

.banner_box_02{
display:flex;
justify-content:center;
align-items:center;
}

.banner_list{
padding:0;
justify-content:flex-start;
}

.banner_list li:nth-child(2){
margin:0 14px;
margin:0 0.875rem;
}

/* 소셜 네트워크 영역 CSS */
.social_section{
display:flex;
order:7;
justify-content:center;
align-items:center;
width:16.66666666666667%;
/* 128px ÷ 768px */
padding:0;
}

.social_list{
flex-direction:column;
justify-content:flex-start;
}

.social_list li:nth-child(2){
margin:24px 0;
margin:1.500rem 0;
}

/* 푸터 영역 CSS */
.footer p{
padding:40px 0;
padding:2.500rem 0;
}
}

/*------------------------------------------- PC용 CSS */



@media all and (min-width:960px){
/* 기본 CSS */

#wrap{
position:relative;
width:90%;
}

#particles {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}




/* 콘텐츠 영역 CSS */
.content_section{
order:3;
padding:60px;
padding:3.750rem;
}

/* 인포메이션 영역 CSS */
.info_section{
order:0;
position:absolute;
top:30px;
top:1.875rem;
right:30px;
right:1.875rem;
z-index:30;
width:auto;
border-bottom:0;
}

.info_list li{
width:auto;
margin-left:15px;
margin-left:0.625rem;
}

.info_list li a{
padding:0;
}

/* 헤더 영역 CSS */
.header{
order:1;
justify-content:flex-end;
position:static;
}

.logo{
width:12.5%;
/* 120px ÷ 960px */
height: 80px;
}

.nav{
display:flex;
align-items:center;
position:static;
width:87.5%;
/* 840px ÷ 960px */
}

.gnb{
display:flex !important;
flex-direction:row;
position:static;
width:100%;
text-shadow:0px 1px 1px #25ab5e;
}

.gnb li{
display:block;
margin-left:5.20833333333333%;
/* 50px ÷ 840px */
background:none;
}

.gnb li a{
width:auto;
padding:0;
text-indent:0;
}

.gnb li span{
display:none;
}

.menu_toggle_btn{
display:none;
}

/* 슬라이더 영역 CSS */
.slider_section{
order:2;
width:50%;
height: 400	px;
/* 480px ÷ 960px */
}

/* 최근 글 영역, 인기 글 영역 CSS */
.latest_post_section, .popular_post_section{
display:flex;
flex-direction:column;
align-items:center;
width:25%;
/* 288px ÷ 960px */
padding-left:0;
padding-right:0;
}

/* 갤러리 영역 CSS */
.gallery_section{    
order:3;
width:27.08333333333333%;
/* 260px ÷ 960px */
}

.gallery_list{
display:block;
}

.gallery_list li{
width:auto;
}

.gallery_list li:nth-child(2){
margin-top:30px;
margin-top:1.875rem;
margin-left:0;
}

/* 인기 검색어 영역 CSS */
.rankup_section{
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
width:22.91666666666667%;
/* 220px ÷ 960px */
padding:0;
}

.rankup_list{
display:block;
}

.rankup_list li{
width:auto;
text-align:left;
counter-increment:rankup-counter;
}

.rankup_list li:nth-child(2){
margin-top:15px;
margin-top:0.938rem;
}

.rankup_list li:before{
padding-right:6px;
padding-right:0.375rem;
/* text-transform:uppercase; */
font-weight:bold;
color:#fff;
text-shadow:0px 1px 1px #428e9e;
/* content:counter(rankup-counter) '.'; */
}

.rankup_list li a{
display:inline;
padding:0;
border:0;
}



/* 여기부터 */

figure.snip1200 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  min-width: 220px;
  max-width: 310px;
  max-height: 310px;
  width: 100%;
  text-align: center;
  font-size: 16px;
  padding: 0px;
}

figure.snip1200 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}
figure.snip1200 img {
  max-width: 100%;
  position: relative;
  opacity: 0.9;
}
figure.snip1200 figcaption {
  position: absolute;
  top: 30%;
  left: 7%;
  right: 7%;
  bottom: 30%;
/*   border: 1px solid white; */
/*   border-width: 1px 1px 0; */
}
figure.snip1200 .heading {
  overflow: hidden;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
  position: absolute;
  bottom: 0;
  width: 100%;
}
figure.snip1200 h2 {
  display: table;
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
  text-align: center;
  width: auto;
  text-transform: uppercase;
  font-weight: 400;
}
figure.snip1200 h2 span {
  font-weight: 800;
}
/* figure.snip1200 h2:before, */
/* figure.snip1200 h2:after { */
/*   position: absolute; */
/*   display: block; */
/*   width: 1000%; */
/*   height: 1px; */
/*   content: ''; */
/*   background: white; */
/*   top: 50%; */
/* } */


figure.snip1200 h2:before {
  left: -1000%;
}
figure.snip1200 h2:after {
  right: -1000%;
}
figure.snip1200 p {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  width: 100%;
  padding: 0 20px;
  margin: 0;
  opacity: 0;
  line-height: 1.6em;
  font-size: 0.9em;
}
figure.snip1200 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}
figure.snip1200:hover img,
figure.snip1200.hover img {
  opacity: 0.25;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
figure.snip1200:hover figcaption,
figure.snip1200.hover figcaption {
  top: 7%;
  bottom: 7%;
}
figure.snip1200:hover p,
figure.snip1200.hover p {
  opacity: 1;
  -webkit-transition-delay: 0.35s;
  transition-delay: 0.35s;
}


/* 여기까지  */


/* 배너 영역 CSS */
.banner_section{
order:7;
width:22.91666666666667%;
/* 220px ÷ 960px */
}

/* 소셜 네트워크 영역 CSS */
.social_section{
order:8;
width:17.08333333333333%;
/* 164px ÷ 960px */
}

/* 퀵메뉴 영역 CSS */

	#main_wrap {width:100%;}
	#quick_wrap {position:relative; width:100px; height:0; margin:0 auto;}
	#quick_right_menu {position:absolute; left:90%; margin-left:670px; top:0; padding-top:100px;}
	#quick_right_menu ul li {margin:3px;}
	#quick_right_menu ul li a {
		display: inline-block;
		width: 100px;
		height: 100px;
		background-color: #428e9e;
		color: #fff;
		text-align: center;
		line-height: 100px;
	}
	
/* 푸터 영역 CSS */
.footer{
order:9;
}

.footer p{
padding-left:3.125%;
/* 30px ÷ 960px */
text-align:left;
}

}