@charset "UTF-8";

.content_section {
	width: 100%;
	order: 3;
	padding: 60px 120px;
}

.match-header{
	font-weight: 600;
}

.log-header{
	width: 12.2%;
	float: left;
}

.send-button {
	border: 0;
	background: transparent;
	border: 0;
	float: right;
}

.match-header {
	width: 100%;
	display: table;
	background-color: #f6f6f6;
	border: 2px solid #cacaca;
	float: left;
	padding-top: 10px;
	padding-bottom: 10px;
}

#search-nav {
	background-color: #2b2e28;
	margin: -10px;
	border-radius: 3px;
	padding: 8;
}

input {
	height: 30px;
	margin-top: 3px;
	border-radius: 4px;
	border-style: none;
	float: right;
	text-align: center;
}

.left-side {
	width: 20%;
	background-color: red;
}

-->
.center {
	width: 100%;
	margin: 0 auto;
}

.right-side {
	width: 20%;
}

.main {
	margin-top: 30px;
}

#season-selbox {
	width: 200px;
	/* 원하는 너비설정 */
	padding: .8em .5em;
	/* 여백으로 높이 설정 */
	font-family: inherit;
	/* 폰트 상속 */
	background:
		url(https://farm1.staticflickr.com/379/19928272501_4ef877c265_t.jpg)
		no-repeat 95% 50%;
	/* 네이티브 화살표 대체 */
	border: 1px solid #999;
	border-radius: 0px;
	/* iOS 둥근모서리 제거 */
	-webkit-appearance: none;
	/* 네이티브 외형 감추기 */
	-moz-appearance: none;
	appearance: none;
}

.rank-wrapper {
	margin-top: 20px;
}

.rank-wrapper:after {
	content: "";
	display: block;
	clear: both;
}

.rank-box {
	float: left;
	width: 32.5%;
	margin-right: 5px;
	background-color: #f2f2f2;
	border: 1px solid grey;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.rank-stats-title {
	
}

h4 {
	margin: 0px;
	padding: 8px 16px;
	color: white;
}

.rank-image {
	float: left;
	width: 80px;
	height: 80px;
}

.rankstats-grade {
	width: 30%;
}

.rank-stats-data {
	width: 70%;
	height: 80px;
}

.rank-score {
	font-size: 30px;
	font-weight: 700;
}

.rank-grade {
	color: #e69557;
	font-weight: 700;
}

.rank-ranking {
	font-size: 14px;
	color: #696969;
	font-weight: 500;
}

.matches-filter {
	margin-top: 50px;
	margin-bottom: 30px;
}

.matches-filter-item {
	float: left;
}

.player-summary {
	height: 100px;
	background-color: #2b2e28;
	border-radius: 4px;
	padding: 9px;
}

.player-name {
	font-size: 28px;
	color: white;
	padding: 15px;
	font-weight: 700;
}

.season-select-wrapper {
	margin-top: 20px;
}

.matches-filter-btn {
	padding: 10px 25px;
	border: 1px solid #cacaca;
	background-color: #fff;
}

ul {
	list-style: none;
}

.matches-list-layer {
	display: inline;
}

.matches__list {
	padding: 0px;
}

.matches-filter:after {
	content: "";
	clear: both;
	display: block;
}

.matches-item_summary {
	width: 100%;
	display: table;
	background-color: #f6f6f6;
	border: 2px solid #cacaca;
	float: left;
	padding-top: 10px;
	padding-bottom: 10px;
}

.matches-item__column {
	display: table-cell
}

.matches-item-column-status {
	width: 16%;
	padding-left: 10px;
	border-left: 4px solid #cacaca;
}

.matches-item-column-rank {
	width: 16%;
}

.matches-item-column-kill {
	width: 16%;
}

.matches-item-column-damage {
	width: 16%;
}

.matches-item-column-distance {
	width: 16%;
}

.matches-item-column-team {
	width: 16%;
}

.ranked-stats__item {
	width: 46%;
	float: left;
	display: table;
	padding: 6px;
}

.ranked-stats__list {
	border-top: 1px solid #eaeaea;
}

.no-status {
	text-align: center;
	margin-top: 80px;
	height: 221px;
}

.ranked-stats__item:nth-child(4n), .ranked-stats__item:nth-child(4n - 1)
	{
	background-color: #e2e2e2;
}

.total-played-game__btn--more {
	margin-top: 16px;
	width: 100%;
	height: 48px;
	border: 1px solid #cacaca;
	background-color: #fff;
	border-radius: 2px;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1);
}