@charset "UTF-8";
/* Global */
 div {
	word-break: break-all;
} 
 
 a {
	-webkit-transition: all 150ms ease;
	-moz-transition: all 150ms ease;
	-ms-transition: all 150ms ease;
	-o-transition: all 150ms ease;
	transition: all 150ms ease;
} 

embed {
	width: 745px;
	height: 419px;
	margin: 5% 10% 2%;
	border-radius: 3px;
	z-index: 100;
}

.span4  {
	width: 80%;
	height: 30px;
	margin: 0 10% 2%;
}

.span4 > h3 {
	width : 100%;
	height : 30px;
	overflow : hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}



/* 콘텐츠 영역 CSS */

.content_section {
width : 100%; 
order:3;
padding:60px 120px;

}

/* Container */
.container-fluid {
	background: #ffc40f;
/* 	margin: 40px auto 10px; */
/* 	padding: 20px 0px; */
	max-width: 960px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}


/* Thumbnail Box */
.caption {
	height: 50px;
	width: 100%;
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}


/* .caption .span4, .caption .span8 { */
/* 	padding: 0px 20px; */
/* } */
.caption h3 {
	color: #a83b3b;
	line-height: 2rem;
	text-transform: uppercase;
}

.caption p {
	font-size: 1rem;
	line-height: 1.6rem;
	color: #a83b3b;
}
.carousel-control {
	top: 33%;
}

p.right {
	float: right;
}



/*  */



.thumb_imgs {
	background-color: c8c8c8;
	width: 100%;
	height: auto;
}

.lini1-1 {
	width: 50%;
	height: 120px;
	padding: 2%;
	background-color: #fff;
	border-bottom: 1px solid #eee;
	box-sizing: border-box;
	float: left;
}

.lini1-1 > span > img {
	float: left;
	border-radius: 6px;
	cursor: pointer;
}

.lini1-1 > span > span {
	width : 60%;
	position : relative;
	float: left;
	margin-left: 1%;
	box-sizing: border-box;
	display: inline-block;
	z-index: 1600;
	color: #000;
	font-weight: bold;
	overflow: hidden;
	cursor: pointer;
}

/* ADD-ON
-------------------------------------------------- */
/* 
 body:after {
	content: "less than 320px";
	font-size: 1rem;
	font-weight: bold;
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
	background-color: hsla(1, 60%, 40%, 0.7);
	color: #fff;
	height: 20px;
	padding-top: 0;
	margin-left: 0;
	left: 0
}


@media only screen and (min-width:320px) {
	body:after {
		content: "320 to 480px";
		background-color: hsla(90, 60%, 40%, 0.7);
		height: 20px;
		padding-top: 0;
		margin-left: 0
	}
}

@media only screen and (min-width:480px) {
	body:after {
		content: "480 to 768px";
		background-color: hsla(180, 60%, 40%, 0.7);
		height: 20px;
		padding-top: 0;
		margin-left: 0
	}
}

@media only screen and (min-width:768px) {
	body:after {
		content: "768 to 980px";
		background-color: hsla(270, 60%, 40%, 0.7);
		height: 20px;
		padding-top: 0;
		margin-left: 0
	}
}

@media only screen and (min-width:980px) {
	body:after {
		content: "980 to 1024px";
		background-color: hsla(300, 60%, 40%, 0.7);
		height: 20px;
		padding-top: 0;
		margin-left: 0
	}
}

@media only screen and (min-width:1024px) {
	body:after {
		content: "1024 and up";
		background-color: hsla(360, 60%, 40%, 0.7);
		height: 20px;
		padding-top: 0;
		margin-left: 0
	}
}
 */
 
::selection {
	background: #ff5e99;
	color: #FFFFFF;
	text-shadow: 0;
}

::-moz-selection {
	background: #ff5e99;
	color: #FFFFFF;
}

a, a:focus, a:active, a:hover, object, embed {
	outline: none;
}

:-moz-any-link:focus {
	outline: none;
}

input::-moz-focus-inner {
	border: 0;
} 

/* bootstrap css 추가 */

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container > .navbar-header,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-collapse {
  margin-right: -15px;
  margin-left: -15px;
}

@media (min-width: 768px) {
  .container > .navbar-header,
  .container-fluid > .navbar-header,
  .container > .navbar-collapse,
  .container-fluid > .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
  }
}


@media (min-width: 768px) {
  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-left: -15px;
  }
}


.container .jumbotron,
.container-fluid .jumbotron {
  border-radius: 6px;
}
@media screen and (min-width: 768px) {
  .jumbotron {
    padding: 48px 0;
  }
  .container .jumbotron,
  .container-fluid .jumbotron {
    padding-right: 60px;
    padding-left: 60px;
  }
  .clearfix:before,
.clearfix:after,
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after {
  display: table;
  content: " ";
}

.carousel {
  position: relative;
}


.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.carousel-inner > .item {
  position: relative;
  display: none;
  width : 100%;
  -webkit-transition: .6s ease-in-out left;
       -o-transition: .6s ease-in-out left;
          transition: .6s ease-in-out left;
}

@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel-inner > .item {
    -webkit-transition: -webkit-transform .6s ease-in-out;
         -o-transition:      -o-transform .6s ease-in-out;
            transition:         transform .6s ease-in-out;

    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-perspective: 1000;
            perspective: 1000;
  }
  .carousel-inner > .item.next,
  .carousel-inner > .item.active.right {
    left: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  .carousel-inner > .item.prev,
  .carousel-inner > .item.active.left {
    left: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
  .carousel-inner > .item.next.left,
  .carousel-inner > .item.prev.right,
  .carousel-inner > .item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
  display: block;
}
.carousel-inner > .active {
  left: 0;
}
.carousel-inner > .next,
.carousel-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}
.carousel-inner > .next {
  left: 100%;
}
.carousel-inner > .prev {
  left: -100%;
}
.carousel-inner > .next.left,
.carousel-inner > .prev.right {
  left: 0;
}
.carousel-inner > .active.left {
  left: -100%;
}
.carousel-inner > .active.right {
  left: 100%;
}


caption {
  padding-top: 8px;
  padding-bottom: 8px;
  color: #777;
  text-align: left;
}

.thumbnail .caption {
  padding: 9px;
  color: #333;
}

.carousel-control {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 5%;
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(255, 255, 255, .2);
  filter: alpha(opacity=20);
  opacity: .2;
}

.fa-arrow-alt-circle-left, .fa-arrow-alt-circle-right {
	margin-top: 245px;
}


.carousel-control.left {
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 100%);
  background-image:      -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0)));
  background-image:         linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
  background-repeat: repeat-x;
}
.carousel-control.right {
  right: 0;
  left: auto;
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 100%);
  background-image:      -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0)));
  background-image:         linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
  background-repeat: repeat-x;
}
.carousel-control:hover,
.carousel-control:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
}
.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
}
.carousel-control .icon-prev,
.carousel-control .glyphicon-chevron-left {
  left: 50%;
  margin-left: -10px;
}
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-right {
  right: 50%;
  margin-right: -10px;
}
.carousel-control .icon-prev,
.carousel-control .icon-next {
  width: 20px;
  height: 20px;
  margin-top: -10px;
  font-family: serif;
  line-height: 1;
}


/* 동영상 검색 */


#videoSearch {
	width: 60%;
	height: 30px;
	border-radius : 10px;
	margin-bottom: 10px;
	padding-left: 30px;
	background-color: #eee;
}
#videoSearch:focus, .sc_btn:focus {
  outline: none;
}

.fa-search-plus {
	font-size: 1.5rem;
	margin-top: 5px;
	color: #e65d5d;
}
.sc_btn {
	background: #fff;
	border-style: none;
	cursor: pointer;
}