<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="kr.co.anolja.repository.mapper.BoardMapper">
	<resultMap type="board" id="boardMap">
		<result column="anonymous_id" property="anonymousId" />
		<result column="pass" property="pass" />
		<result column="bNo" property="bNo" />
		<result column="group_bno" property="groupBno" />
		<result column="group_blist" property="groupBlist" />
		<result column="depth" property="depth" />
		<result column="title" property="title" />
		<result column="content" property="content" />
		<result column="reg_date" property="regDate" />
		<result column="view_cnt" property="viewCnt" />
	</resultMap>
	
	<select id="boardList" resultMap="boardMap">
		select *
		from tb_board
	</select>
	
	<select id="boardDetail" parameterType="int" resultType="board">
		select *
		from tb_board
		where bNo = #{bNo}
	</select>
	
	<insert id="boardInsert" parameterType="board">
		insert into tb_board(
			group_bno, anonymous_id, title, content, pass, reg_date
		)values(
			#{bNo},
			#{anonymousId}, 
			#{title}, 
			#{content}, 
			#{pass},
			now()
		)
	</insert>
	
	<update id="boardUpdate" parameterType="board">
		update tb_board
			set title = #{title},
				content = #{content},
				pass = #{pass}
			where bNo = #{bNo} 
	</update>
	
	<delete id="boardDelete" parameterType="int">
		delete from tb_board
		where bNo = #{bNo}
	</delete>
</mapper>