<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="kr.co.anolja.repository.mapper.UserMapper">
	<resultMap type="user" id="userMap">
		<result column="id" property="id" />
		<result column="anonymous_id" property="annonymousId"/>
		<result column="pass" property="pass" />
		<result column="email" property="email" />
		<result column="game_victory" property="gameVictory" />
		<result column="auth_key" property="authKey" />
		<result column="auth_status" property="authStatus" />
		<result column="reg_date" property="regDate" />
		<result column="file_path" property="filePath" />
		<result column="file_name" property="fileName" />
		<result column="file_size" property="fileSize" />
		<result column="login_date" property="loginDate" />
	</resultMap>
	
	<insert id="registUser" parameterType="user">
		insert into tb_user (
			id, pass, email, auth_key
		) values (
			#{id},
			#{pass},
			#{email},
			'null'
		);
	</insert>
	
	<update id="createAuthKey" parameterType="user">
		update tb_user
		   set auth_key = #{authKey}
		 where email = #{email}
	</update>
	
	<update id="authUser" parameterType="string">
		update tb_user
		   set auth_status = 1
		 where email = #{email}
	</update>
	
	<select id="selectOneUser" parameterType="string" resultMap="userMap">
		<include refid="search"></include>
	</select>	
	
	
	<select id="getIdperUser" parameterType="string" resultMap="userMap">
		select *
		  from tb_user
		 where id = #{id}
	</select>
	
	<select id="getEmailperUser" parameterType="string" resultMap="userMap">
		select *
		  from tb_user
		 where email = #{email}
	</select>
	
	<update id="changePassword" parameterType="user">
		update tb_user
		   set pass = #{pass}
		 where email = #{email}
	</update>
	
	<update id="registProfileImage" parameterType="user">
		update tb_user
		   set file_path = #{filePath}, file_name = #{fileName}, file_size = #{fileSize}
		 where id = #{id}
	</update>
	
	<update id="removeProfileImage" parameterType="string">
		update tb_user
		   set file_path = null, file_name = null, file_size = null
		 where id = #{id}
	</update>
	
	<update id="updateUserEmail" parameterType="user">
		update tb_user
		   set email = #{email}
		 where id = #{id}
	</update>
	
	<delete id="deleteUserInfo" parameterType="string">
		delete
		  from tb_user
		 where id = #{id}
	</delete>

	<update id="setAnnonymousId" parameterType="user">
		update tb_user
		   set anonymous_id = #{annonymousId}
		 where id = #{id}
	</update>
	
	<select id="getAnnonymousId" resultType="string">
		select anonymous_id
		  from tb_user
	</select>
	
	<update id="setLoginDate" parameterType="user">
		update tb_user
		   set login_date = now()
		 where id = #{id}
	</update>
	
	<sql id="search">
		select *
		  from tb_user
		 where id = #{id}
	</sql>
	
	<insert id="insertVisitor" parameterType="visitor">
		insert into tb_visitor (
			ip, refer, agent
		) values (
			#{ip}, #{refer}, #{agent}
		);
	</insert>
	
</mapper>