<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="kr.co.anolja.repository.mapper.VideoMapper">
	<resultMap type="video" id="videoMap">
		<result column="id" property="id"/>
		<result column="video_no" property="videoNo"/>
		<result column="tank_id" property="tankId"/>
		<result column="tank_name" property="tankName"/>
		<result column="video_img" property="videoImg"/>
		<result column="video_title" property="videoTitle"/>
		<result column="video_url" property="videoUrl"/>
	</resultMap>
	
	<insert id="insertVideo" parameterType="video">
			insert into tb_video(
				id, 
				video_no,
				tank_id, 
				tank_name, 
				video_img, 
				video_title, 
				video_url
			) values(
				#{id},
				#{videoNo},
				#{tankId},
				#{tankName},
				#{videoImg},
				#{videoTitle},
				#{videoUrl}
			)			
	</insert>
	
	<select id="selectUserTankId" resultMap="videoMap" parameterType="string">
		select   *
		from     tb_video
		where    id= #{id}
		GROUP BY tank_id
		order by tank_id
	</select>
	
	<select id="selectMyTank" resultMap="videoMap" parameterType="video">
		select *
		from (select * from tb_video where id = #{id}) a
		where tank_id = #{tankId}
	</select>
	
	<update id="updateTankName" parameterType="video">
		update tb_video
		   set tank_name = #{tankName}
		 where id = #{id}
		   and tank_id = #{tankId}
	</update>
</mapper>